/* common shared styles*/
body {
    font-family: 'Open Sans', sans-serif;
}
.t2 {
    color: #FD6E0A;
}
/*styles for nav*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.t1{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.butt-prim{
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-right: 20px;
}
/* header relate styles*/
.hd1{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.ban-cont{
    max-width: 500px;
    
   
}
.ban-dis{
    font-size: 18px;
    font-weight: 300;
    margin-top: 40px;
}
.banner .pic{
    width: 550px;
}
.gret{
    font-size: 45px;
    font-weight: 600;
}
.bhd{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
/*main section styles*/
main{
    max-width: 1140px;
    margin: 0 auto;

}
main section{
    margin-top: 130px;
}
/*about section styles*/
.about{
    padding: 150px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
    
}
.sec-tit{
    color: #181818;
    font-size: 35px;
    text-align: center;
    font-weight: 700;

}
.sec-des{
    color: #757575;
    font-size: 18px;
    text-align: center;
}
.info{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-tit{
    color: #757575;
}
.info-det{
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}
#wid{
    padding: 30px 150px;
}
.skill-cont{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.skill{
    
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
    
}
.skill-des{
    color: #757575;
}
.res-cont{
    display: flex;
    gap: 70px;
    margin: 30px;
}
.res-tit{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}
.res-det{
    margin-top: 30px;
}
.deg{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}
.inst{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}
.down-cv{
    text-align: center;
}
footer{
    display: flex;
    gap: 100px;
    margin-top: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}
.foot-col{
    width: 50%;
}
#bal{
    margin-bottom: 50px;
}
.social-link{
    margin-left: 120px;
}
.social-link a{
    margin-right: 50px;
}
.contact input[type="text"], .contact input[type="email"],textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border: none;
    border-radius: 5px;
    width: 80%;
    justify-items: end;
}
